{% extends 'store/base.html' %}
{% load static %}
{% block title %}
eStore - All Products
{% endblock title %}

{% block content %}
<!-- collection -->
<section id = "collection" class = "py-5" style="margin-top:75px;">
    <div class = "container">
        <div class = "title text-center">
            <h2 id="" class = "position-relative d-inline-block">All Products</h2>
        </div>

        <div class = "row g-0">
            <div class = "d-flex flex-wrap justify-content-center mt-5 filter-button-group">
                <button type = "button" class = "btn m-2 text-dark active-filter-btn" data-filter = "">All</button>
                {% for category in categories %}
                <a class = "btn m-2 text-dark" href="{% url 'store:category' category.slug %}">{{category}}</a>
                <!-- <button type = "button" class = "btn m-2 text-dark" data-filter = "">{{category}}</button> -->
                {% endfor %}
            </div>

            <div class = "collection-list mt-4 row gx-0 gy-3">
              {% for product in products %}
                <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                    <div class = "collection-img position-relative">
                        <img src = "{{product.image.url}}" class = "w-100">
                        <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                    </div>
                    <div class = "text-center">
                        <div class = "rating mt-3">
                        </div>
                        <p class = "text-capitalize my-1">{{product.name}}</p>
                        <span class = "fw-bold">${{product.price}}</span>
                        <div class="">
                          <button type="button" class="btn btn-primary mt-3 cart-button" data-index="{{product.id}}">Add to Cart</button>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- end of collection -->

<!-- ajax file -->
<script src="{% static 'js/add.js' %}"></script>
{% endblock content %}
