{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}  {% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <!-- Bootstrap css-->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" />
  <!-- Bootstrap js-->
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <!-- Jquery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

  <!-- Other css files -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>
  {% block content %}
  {% endblock content %}

  <script type="text/javascript">
    console.log("Register page jquery")
  </script>

</body>

</html>
